# Build Folder
build/

# Language Server Information (ccls)
.ccls-cache/


###### Jetbrains specific ignore folders below #######

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
